body{
    background-color:#EEF5FF;
    font-family: 'Quicksand', sans-serif;
    margin:0;
}
/* bagian header */
header{
position: fixed ;
width: 100%;
display:flex;
align-items: last baseline;
justify-content: space-between;
box-sizing: border-box;
padding: 0.1vw 5vw;
background: linear-gradient(to right, #a9c3e4,#7C93C3);
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo{
    display: flex;
}
header img{
    margin-top: 10px;
    display: flex;
    background-size: cover;
    height: 50px;
    text-align: center; 
    position: relative;
}

header h2{
    color: rgb(255, 255, 255);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 
               1px 1px 1px rgba(0, 0, 0, 0.6);
}
nav{
    display: flex;
    gap: 40px;
}

nav.reverse{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}
nav a{
    color: #e1e6ed;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 
               1px 1px 1px rgba(0, 0, 0, 0.6);
}

nav a:hover::after{
    content: '';
    display: block;
    border-bottom: 2px solid  #4d4e4f;
    width:50%;
   margin: auto;
}

nav a:hover{
    font-weight: 100;
    color: #000000;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    height: 19px;
    justify-content: space-between;
    position: relative;
  }
  .menu-toggle input {
    position: absolute;
    width: 42px;
    height: 25px;
    left: -7px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(3, 17, 25);
    border-radius: 3px;
    transition: all 0.5s;
  }
  
  /* hamburger menu animation */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 1px);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
  }

/* penutup header */



/* bagian Content */
.content{
    display: flex;
    flex-direction: column;
}

.content h1{

    text-align: center;
    margin:135px 0 30px 0;
    
}
article{
    display: flex;
    box-sizing: border-box;
    gap: 3vw;
    margin: 30px 100px 50px 160px;
}
article img{
    border-radius: 5px;
    width:500px;
    background-size: cover;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.description{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    line-height: 1.6;
}

.description p{
    font-size: 16px;
    margin-top: 16px;
    text-align: justify;
    margin-right: 90px;
}
.description ul{
    margin-top: -100px;
   margin-left: -40px;
}

.description ul li{
    font-size: 17px;
    list-style-type: none;
}

main{
    margin:50px 15vw 30px 15vw;
    background-color: #d8e1ee;
    padding-bottom: 40px ;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main h2{
    text-align: center;
   margin: 70px 0;
}
form{
    gap: 10px;
    display: flex;
    flex-flow: column;
    margin: 30px 8vw;
}

input{
    padding: 10px;
    box-shadow: rgb(215, 210, 210) 3px 3px 6px 0px inset, rgba(235, 231, 231, 0.907) -3px -3px 6px 1px inset;
    border: none;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
    text-decoration: none;
}


main button{
    border-radius: 5px;
    border: none;
    margin-bottom: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#output{
    padding:20px 0 0 60px;
    height: 100px;
    width:90%;
    box-shadow: rgb(215, 210, 210) 3px 3px 6px 0px inset, rgba(235, 231, 231, 0.907) -3px -3px 6px 1px inset;
    background-color: #fbfbfb;
}
#hitung{
    height: 40px;
    width: 90px;
    margin: 0 5px 0 8vw;
    background-color: #7186b1;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 
               1px 1px 1px rgba(0, 0, 0, 0.6);
}

#reset{
    height: 40px;
    width: 60px;
    background-color: #A25772;
    color: rgb(255, 255, 255);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 
               1px 1px 1px rgba(0, 0, 0, 0.6);
}
/* penutup content */



/* bagian footer */
footer{
    margin: 40px 0 0 0;
    padding: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    justify-content: center;
    display: flex;
    background: linear-gradient(to right, #a9c3e4,#7C93C3);
}
footer a{
    color: rgb(255, 255, 255);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 
               1px 1px 1px rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
/* penutup footer */




/* Responsive  web*/

@media (max-width: 1280px) {


    article{
       
        flex-direction: column;
        align-items: center;
        margin: 30px 100px;
    }
    article img{
       width:40vw;
    }

    .description{
        margin: 0 50px;
    }
    .description p{
        margin-right: 0;
    }
    .description ul{
        margin-top: -10px;
    }

}


@media (max-width:800px) {
   
    article{
       
        flex-direction: column;
        align-items: center;
        margin: 30px 60px;
    }
    article img{
       width:50vw;
    }

    .description{
        margin: 0 50px;
    }
    .description p{
        margin-right: 0;
    }
    .description ul{
        margin-top: -10px;
    }
    #output{
        padding:20px 0 0 10px;
        width:90%;
    }
    
}

@media (max-width: 600px) {
    .logo {
        width: 10px;
    }
    
    nav{
        text-align: center;
        flex-direction: row-reverse;
    }
    
    nav a:hover::after{
        width:20%;
    }

    nav a {
    position: absolute;
    right: 0;
    top: 70px;
    height: 0px;
    width: 100%;
    padding: 40px 0;
    align-items: center;
    background: linear-gradient(to bottom, #a9c3e4,#7C93C3);
    z-index: -1;
    transition: 1s;
    opacity: 0;
    transform: translatex(100%);
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    -ms-transform: translatex(100%);
    -o-transform: translatex(100%);
}
    
    nav a.slide {
        color: black;
        transform:translateX(0);
        opacity: 0.8;
       
   }
    
      .menu-toggle {
        display: flex;
      }

    article{
       
        margin: 30px 45px;
    }
    article img{
       width:60vw;
    }

    .description{
        margin: 0;
    }
    
    main h2{
        font-size: 18px;
        text-align: center;
       margin: 50px 0;
    }
    main{
        margin:0 25px;
    }
    
    main button{
        margin-bottom: 40px;
    }
    #output{
        padding:20px 0 0 10px;
        width:90%;
    }
}